<section class="u-clearfix u-gradient u-section-4" id="sec-a728">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-size-30 u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-container-style u-layout-cell u-left-cell u-size-40 u-layout-cell-1">
                                <div class="u-container-layout u-valign-bottom u-container-layout-1">
                                    <p class="u-text u-text-body-alt-color u-text-1">I'm always looking for new and
                                        exciting projects and collaborations. Use the form to contact me and I will get
                                        back to you soonest!</p>
                                </div>
                            </div>
                            <div
                                class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-2">
                                <div class="u-container-layout u-container-layout-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30 u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-3">
                                <div class="u-container-layout u-valign-top u-container-layout-3">
                                    <h2 class="u-text u-text-body-alt-color u-text-2">Contact me.....</h2>
                                </div>
                            </div>
                            <div class="u-container-style u-layout-cell u-right-cell u-size-40 u-layout-cell-4">
                                <div class="u-container-layout u-container-layout-4">
                                    <div class="u-form u-form-1">
                                        <form action="assets/scripts/form-a728.php" method="POST"
                                            class="u-clearfix u-form-spacing-32 u-form-vertical u-inner-form"
                                            style="padding: 10px" source="customphp" name="form-2">
                                            <div class="u-form-group u-form-name">
                                                <label for="name-da97"
                                                    class="u-form-control-hidden u-label">Name</label>
                                                <input type="text" placeholder="Enter your Name" id="name-da97"
                                                    name="name"
                                                    class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-grey-5 u-input u-input-rectangle"
                                                    required="">
                                            </div>
                                            <div class="u-form-email u-form-group">
                                                <label for="email-da97"
                                                    class="u-form-control-hidden u-label">Email</label>
                                                <input type="email" placeholder="Enter a valid email address"
                                                    id="email-da97" name="email"
                                                    class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-grey-5 u-input u-input-rectangle"
                                                    required="">
                                            </div>
                                            <div class="u-form-group u-form-message">
                                                <label for="message-da97"
                                                    class="u-form-control-hidden u-label">Message</label>
                                                <textarea placeholder="Enter your message" rows="4" cols="50"
                                                    id="message-da97" name="message"
                                                    class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-grey-5 u-input u-input-rectangle"
                                                    required=""></textarea>
                                            </div>

                                            <div class="g-recaptcha u-form-group"
                                                data-sitekey="6LdajPIZAAAAACHvp6Q9bkwHysE2_eXC8PGAqN6_"></div>

                                            <div class="u-align-left u-form-group u-form-submit">

                                                <input type="button" value="submit"
                                                    class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">
                                            </div>
                                            <div class="u-form-send-message u-form-send-success"> Thank you! Your
                                                message has been sent. </div>
                                            <div class="u-form-send-error u-form-send-message"> Unable to send your
                                                message. Please fix errors then try again. </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>