<section
    class="u-align-center u-clearfix u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-section-2"
    id="carousel_4470">
    <div class="u-align-left u-expanded-width u-palette-1-base u-shape u-shape-1"></div>
    <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
                <div class="u-size-30 u-size-60-md">
                    <div class="u-layout-col">
                        <div
                            class="u-container-style u-layout-cell u-left-cell u-palette-1-base u-size-20 u-layout-cell-1">
                            <div
                                class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
                                <h1 class="u-align-center u-custom-font u-text u-text-1">I’m a full stack java developer
                                </h1>
                                <p class="u-align-center u-text u-text-body-alt-color u-text-2"
                                    data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0"
                                    data-animation-direction="">After working in IT Support and Neworking for many
                                    years, I’m now a full-time Java developer, helping people get more exposure and
                                    generate more leads for their businesses.</p>
                            </div>
                        </div>
                        <div
                            class="u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-left-cell u-size-40 u-layout-cell-2">
                            <div class="u-container-layout">
                                <img src="assets/images/spring-logo.svg" alt="spring-logo"
                                    class="u-image u-image-default u-image-1" data-image-width="377"
                                    data-image-height="97" data-animation-name="bounceIn" data-animation-duration="1000"
                                    data-animation-delay="0" data-animation-direction="">
                                <img src="assets/images/angular_logo.png" alt="angular-logo"
                                    class="u-image u-image-default u-image-2" data-image-width="5208"
                                    data-image-height="1410" data-animation-name="bounceIn"
                                    data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-size-30 u-size-60-md">
                    <div class="u-layout-row">
                        <div
                            class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-3">
                            <div class="u-container-layout u-valign-top u-container-layout-3">
                                <img src="assets/images/opatile.jpg" alt="Opatile Kelobang"
                                    class="u-image u-image-circle u-image-3" data-image-width="1600"
                                    data-image-height="1200" data-animation-name="fadeIn" data-animation-duration="1000"
                                    data-animation-delay="1000" data-animation-direction="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>